@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Poppins:wght@300;400;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

.table {
    display: block;
    overflow: hidden;
    border-collapse: collapse;
    box-shadow: 0px 10px 10px #ccc;
    border-radius: 10px;
    white-space: nowrap;
    width: 100em;
    max-width: 100%;
    margin: auto;
    table-layout: auto;
    overflow-x: auto;
    border-color: #f8cb7e;
}

.thead {
  font-size: 1.2rem;
  background-color: rgb(241, 200, 18);
  color: #fff;
}

.btn_de{
  color:red;
    padding: 0 20 1px;
    border:0;
    background-color: #fff;
}

.btn_edi{
  color:goldenrod;
    padding: 0 10px;
    border:0;
    background-color: #fff;
}
.id{
  padding: 0.8rem;
}

.nombre{
    min-width: 6rem;
    padding: 0.8rem;
}

.address{
  width: 100%;
  padding: 0.8rem;
}

