/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Estilos para Webkit (Chrome, Edge, etc.) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffcc99;
    border-radius: 4px; /* Redondeo del scrollbar si lo deseas */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* Ocultar las flechas en Chrome */
::-webkit-scrollbar-button {
    display: none;
}

* {
    scrollbar-width: thin; /* Esto hará que el scrollbar sea más delgado */
    scrollbar-color: #ffcc99 #f1f1f1; /* Color más claro */
}

.pandingall{
    padding: 10px 10px 10px 10px;
}

.reutittle{
    font-weight:700;
}

.reusubtitlle{
    font-size: 14px;
}

.gradient {
    background: rgb(249,191,108);
    background: radial-gradient(circle, rgba(249,191,108,0.6979166666666667) 0%, rgba(255,235,96,0.8267682072829132) 100%);
}